.login-block {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-block .title {
    margin-bottom: 20px; 
    font-size: 24px;   
}
.login-block .name, .password {
    height: 40px;
    width: 242px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #919191;    
}
.login-block .name-red {
    border: 1px solid red; 
}
.login-block .password-block {
    position: relative;    
}
.login-block .password-block label {
    position: absolute;
    right: 10px;
    top: 15px;
    
}
.login-block .password-block label input[type=checkbox] {
    display: none; 
}  
.login-block .pass-img {
    width: 25px;        
    display: block;
}

.login-btn, .registr-btn {
    height: 40px;  
    width: 250px; 
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.5s all;
    background: orange;
    color: #fff; 
    padding: 0 24px;
    margin-bottom: 15px;
}
.registr-btn {
    background: #1e1c1c;
}
